{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/iziToast/css/iziToast.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/highlight/css/default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>Django Challenge API</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-lg-flex justify-content-lg-between align-items-lg-end">
                    <h1 class="mt-5">Django Challenge API</h1>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Basic Authentication Save
                    </button>
                </div>
                <hr />
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                         <h4 class="text-center">
                             <code>GET /users/me/</code>
                         </h4>
                    </div>
                    <div class="col-lg-6">
                        <div class="h-100 d-lg-flex align-items-lg-center">
                            <button class="btn btn-info btn-block" onclick="getUserBio(this)"> GET | Request</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <pre><code id="userMeGet" class="json"></code></pre>
                        </p>
                    </div>
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/iziToast/js/iziToast.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/highlight/js/highlight.min.js' %}"></script>
    <script src="{% static 'home/js/scripts.js' %}"></script>
    {% include 'includes/basic_auth_modal.html' %}
    <script src="{% static 'home/js/basic_auth_save.js' %}"></script>

  </body>
</html>

